<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}flux.ci{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/fluxauth-main.min.css">
  </head>
  <body>
    {% block body %}
    <div class="modal modal-signin position-static bg-secondary" tabindex="-1" role="dialog" id="modalSignin">
      <div class="modal-dialog" role="document">
        <div class="modal-content rounded-5 shadow">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
    <script src="/static/js/fluxauth-main.min.js"></script>
    {% endblock %}
  </body>
</html>
