{% extends "base/global" %}

{% block title %}Access Denied{% endblock %}

{% block content %}
<div class="modal-header p-5 border-bottom-0 d-block text-danger">
  <h2 class="fw-bold mb-0">
    <i class="fas fa-exclamation-triangle"></i>
    Access Denied
  </h2>
  <div>Authentication service for flux.ci only allows requests from certain sites.</div>
</div>
{% endblock %}
