<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign in - flux.ci</title>
    <link rel="stylesheet" href="/static/css/fluxauth-main.min.css">
  </head>
  <body>
    <div class="modal modal-signin position-static bg-secondary" tabindex="-1" role="dialog" id="modalSignin">
      <div class="modal-dialog" role="document">
        <div class="modal-content rounded-5 shadow">
          <div class="modal-header p-5 pb-4 border-bottom-0 d-block">
            <h2 class="fw-bold mb-0">Sign in to continue</h2>
            {% if next_host %}
              <div class="text-muted">{{ next_host }} needs authentication</div>
            {% endif %}
          </div>
          <div class="modal-body p-5 pt-0">
            {% if error %}
            <div class="alert alert-danger">
              <b>
                <i class="fas fa-exclamation-triangle me-1"></i>
                {{ error }}
              </b>
            </div>
            {% endif %}
            <form action method="post" class="">
              <div class="form-floating mb-3">
                <input type="text" class="form-control rounded-4" id="floatingInput" placeholder="Username" required>
                <label for="floatingInput">Username</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control rounded-4" id="floatingPassword" placeholder="Password" required>
                <label for="floatingPassword">Password</label>
              </div>
              <button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" type="submit">Sign in</button>
              <small class="text-muted">By clicking Sign in, you agree to the <a href="#">terms of use</a>.</small>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="/static/js/fluxauth-main.min.js"></script>
  </body>
</html>
